# Rearange data by state

In [82]:
import pandas as pd 
import numpy as np

In [46]:
df = pd.read_csv("../data/indicators.csv")
df.drop(columns=['Unnamed: 0', 'name.1'], inplace=True)
#df = df[df['level'] == 3]
#df = pd.merge(df,tract.astype({'geoid': int}), how='left', on='geoid')
#df = gpd.GeoDataFrame(df)
#df.head()

/Users/ikersanchez/anaconda3/envs/geoenv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [47]:
indicators = list(df.columns)[3:]
indicators = [ x for x in indicators if '_' not in x ]

remove = ['lss', 'efd', 'vfd']

for ind in remove: 
    indicators.remove(ind)
indicators

['rfr',
 'cfr',
 'ehd',
 'epd',
 'drr',
 'wlf',
 'ses',
 'pov',
 'uep',
 'pci',
 'hsd',
 'hcd',
 'a6o',
 'a1y',
 'pcd',
 'sph',
 'msl',
 'mnt',
 'sen',
 'htt',
 'mus',
 'mhm',
 'cwd',
 'vhc',
 'gqt']

In [48]:
df = df[['geoid', 'name']+indicators]
df

,geoid,name,rfr,cfr,ehd,epd,drr,wlf,ses,pov,...,sph,msl,mnt,sen,htt,mus,mhm,cwd,vhc,gqt
0,1,Alabama,0.502981,0.089206,19.282116,1.065365,1.844421,1.412812e+06,2.465929,17.049426,...,3.528865,0.812682,34.286942,0.997332,2.033338,3.323384,6.130023,0.658584,2.371379,2.442072
1,2,Alaska,1.692572,0.363021,NaN,NaN,NaN,7.081020e+06,1.913712,10.543441,...,3.289434,1.108321,38.964897,1.587102,3.137083,3.188015,2.011466,2.281196,3.244209,3.710008
2,4,Arizona,0.680378,0.024659,16.026979,1.026377,1.453468,2.803290e+06,2.329827,15.722492,...,3.363460,1.621706,44.925011,4.555957,2.733684,4.970745,4.478165,1.627568,2.303415,2.245747
3,5,Arkansas,0.839422,0.000000,15.466302,1.094659,2.122969,3.919765e+06,2.101911,17.064298,...,3.750596,0.850120,27.312332,1.491070,2.719833,2.914396,5.589247,1.029702,2.461621,2.815823
4,6,California,1.179035,0.110282,11.713603,1.027158,1.789618,5.259801e+06,3.222085,14.016130,...,2.956288,1.908558,62.461554,9.189162,2.552118,6.177555,1.328936,2.720469,2.398630,2.093244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76019,56043000200,2,1.986667,0.000000,14.506303,1.112370,1.745136,1.122771e+04,1.831400,9.700000,...,6.600000,0.238200,11.900000,0.000000,3.068100,1.000000,22.100000,2.800000,4.600000,2.100000
76020,56043000301,3.01,2.006692,0.000000,12.549350,1.131451,1.742561,0.000000e+00,1.978800,11.600000,...,9.600000,0.726900,25.600000,0.400000,2.537000,0.000000,6.200000,1.500000,8.000000,1.400000
76021,56043000302,3.02,2.006692,0.000000,12.378821,1.133447,1.742561,0.000000e+00,2.576800,16.300000,...,4.700000,0.710200,18.100000,0.700000,2.412700,2.500000,4.300000,0.700000,2.300000,2.600000
76022,56045951100,9511,0.211906,0.000000,13.118717,1.085970,1.895009,5.215562e+04,1.614200,17.500000,...,7.200000,0.503700,11.300000,0.400000,3.201100,1.300000,21.800000,3.600000,3.300000,8.700000
76023,56045951300,9513,0.016798,0.000000,12.975807,1.075587,1.942943,2.507478e+03,1.980000,17.300000,...,6.900000,0.604000,6.900000,1.200000,2.763700,3.800000,25.000000,1.200000,2.100000,2.000000

In [19]:
df_geoid = pd.read_csv('../data/carto_indicators.csv').drop(columns=['Unnamed: 0'])[['level', 'geoid', 'statefp', 'countyfp', 'tractce']]

/Users/ikersanchez/anaconda3/envs/geoenv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [14]:
df_geoid

       level        geoid  statefp  countyfp   tractce
0          1            1        1       NaN       NaN
1          1            2        2       NaN       NaN
2          1            4        4       NaN       NaN
3          1            5        5       NaN       NaN
4          1            6        6       NaN       NaN
...      ...          ...      ...       ...       ...
76019      3  56043000200       56      43.0     200.0
76020      3  56043000301       56      43.0     301.0
76021      3  56043000302       56      43.0     302.0
76022      3  56045951100       56      45.0  951100.0
76023      3  56045951300       56      45.0  951300.0

[76024 rows x 5 columns]

In [50]:
df = pd.merge(df_geoid, df, how='left', on='geoid')

In [61]:
df = df.astype({"level": str})
level_dic = {'1': 'State', '2': 'County', '3': 'Census Tract'}
df['level'] = df['level'].apply(lambda x: level_dic[x])

**Rename columns**

In [73]:
name = ['riverine flood risk', 'coastal flood risk', 'extreme heat days', 'extreme precipitation days', 'drought risk', 'wildfires']+['socioeconomic status', 'percentage of persons below poverty', 'percentage of civilian (age 16+) unemployed', 'per capita income', 'percentage of persons with no high school diploma (age 25+)', 
'household composition & disability','percentage of persons aged 65 and older', 'percentage of persons aged 17 and younger', 'percentage of civilian with a disability', 'percentage of single parent households with children under 18',
'minority status & language', 'minority (all persons except white, non-Hispanic)', 'speaks english “less than well”',
'housing type & transportation', 'multi-unit structures', 'mobile homes', 'crowding', 'no vehicle', 'group quarters']

slug = ['rfr', 'cfr', 'ehd', 'epd', 'drr', 'wlf']+['ses', 'pov', 'uep', 'pci', 'hsd', 'hcd', 'a6o', 'a1y', 'pcd', 'sph', 'msl', 'mnt', 'sen', 'htt', 'mus', 'mhm', 'cwd', 'vhc', 'gqt']

indicator_names = dict(zip(slug, name))

In [75]:
df.rename(columns={'level': 'geographic level'}, inplace=True) 
df.rename(columns=indicator_names, inplace=True)

In [84]:
df

,geographic level,geoid,statefp,countyfp,tractce,name,riverine flood risk,coastal flood risk,extreme heat days,extreme precipitation days,...,percentage of single parent households with children under 18,minority status & language,"minority (all persons except white, non-Hispanic)",speaks english “less than well”,housing type & transportation,multi-unit structures,mobile homes,crowding,no vehicle,group quarters
0,State,1,1,NaN,NaN,Alabama,0.502981,0.089206,19.282116,1.065365,...,3.528865,0.812682,34.286942,0.997332,2.033338,3.323384,6.130023,0.658584,2.371379,2.442072
1,State,2,2,NaN,NaN,Alaska,1.692572,0.363021,NaN,NaN,...,3.289434,1.108321,38.964897,1.587102,3.137083,3.188015,2.011466,2.281196,3.244209,3.710008
2,State,4,4,NaN,NaN,Arizona,0.680378,0.024659,16.026979,1.026377,...,3.363460,1.621706,44.925011,4.555957,2.733684,4.970745,4.478165,1.627568,2.303415,2.245747
3,State,5,5,NaN,NaN,Arkansas,0.839422,0.000000,15.466302,1.094659,...,3.750596,0.850120,27.312332,1.491070,2.719833,2.914396,5.589247,1.029702,2.461621,2.815823
4,State,6,6,NaN,NaN,California,1.179035,0.110282,11.713603,1.027158,...,2.956288,1.908558,62.461554,9.189162,2.552118,6.177555,1.328936,2.720469,2.398630,2.093244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76019,Census Tract,56043000200,56,43.0,200.0,2,1.986667,0.000000,14.506303,1.112370,...,6.600000,0.238200,11.900000,0.000000,3.068100,1.000000,22.100000,2.800000,4.600000,2.100000
76020,Census Tract,56043000301,56,43.0,301.0,3.01,2.006692,0.000000,12.549350,1.131451,...,9.600000,0.726900,25.600000,0.400000,2.537000,0.000000,6.200000,1.500000,8.000000,1.400000
76021,Census Tract,56043000302,56,43.0,302.0,3.02,2.006692,0.000000,12.378821,1.133447,...,4.700000,0.710200,18.100000,0.700000,2.412700,2.500000,4.300000,0.700000,2.300000,2.600000
76022,Census Tract,56045951100,56,45.0,951100.0,9511,0.211906,0.000000,13.118717,1.085970,...,7.200000,0.503700,11.300000,0.400000,3.201100,1.300000,21.800000,3.600000,3.300000,8.700000
76023,Census Tract,56045951300,56,45.0,951300.0,9513,0.016798,0.000000,12.975807,1.075587,...,6.900000,0.604000,6.900000,1.200000,2.763700,3.800000,25.000000,1.200000,2.100000,2.000000

**Save data by State**

In [112]:
for n in df['statefp'].unique():
    df_tmp = df[df['statefp'] == n]
    df_tmp.drop(columns='geoid', inplace=True)
    name = df_tmp[df_tmp['geographic level'] == 'State']['name'].iloc[0]
    name = name.replace(' ', '_')
    print(name)
    df_tmp.to_csv(f"../data/state_indicators/{name}.csv")

/Users/ikersanchez/anaconda3/envs/geoenv/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

Alabama

/Users/ikersanchez/anaconda3/envs/geoenv/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

Alaska
Arizona
Arkansas
California
Colorado
Connecticut
Delaware
District_of_Columbia
Florida
Georgia
Hawaii
Idaho
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana
Nebraska
Nevada
New_Hampshire
New_Jersey
New_Mexico
New_York
North_Carolina
North_Dakota
Ohio
Oklahoma
Oregon
Pennsylvania
Rhode_Island
South_Carolina
South_Dakota
Tennessee
Texas
Utah
Vermont
Virginia
Washington
West_Virginia
Wisconsin
Wyoming